body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.btn:hover, .btn:active {
    border-width: 2px;
}

.btn:focus {
    outline: none;
}

#appContainer {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    color: #3f8060;
    border-bottom: 1px solid #d6d6d6;
}

#logo {
    margin-right: 100px;
}

#header .nav-menu {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
}

.nav-menu .nav-item {
    padding: 5px 10px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    width: 90px;
    justify-content: center; 
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid #3f8060;
    position: relative;
    bottom: -1px;
}

.nav-submenu {
    position: absolute;
    display: none;
    top: 50px;
    left: 0px;
    border-radius: 2px;
}

.nav-item:hover>.nav-submenu {
    display: block;
    z-index: 10;
    background: #fff;
    border-bottom: none;
    list-style: none;
    padding: 0px;
    box-shadow: 0px 0px 8px;
}

.nav-sub-item {
    padding: 10px;
    width: 150px;
    box-sizing: border-box;
    border-bottom: 1px solid #d8e8e0;
}

.nav-sub-item:last-child {
    border-bottom: none;
}

.nav-sub-item:hover {
    background-color: #d8e8e0;
}

#status {
    font-size: 0.8em;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#editorContainer {
    display: grid;
    grid-template-rows: 1fr;
}

#editorHeader {
    height: 50px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

#runButton {
    padding: 10px 15px;
    border: 1px solid #02ceae;
    font-family: inherit;
    color: #028c76;
}

#runButton:hover {
    border: 2px solid #02ceae;
}

#runButton:active {
    background-color: #02ceae;
}

#ioContainer {
    display: grid;
    grid-template-rows: 1fr auto;
    min-width: 0;
    min-height: 0;
}

#imageViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    background-color: #fff;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#imageViewer .canvas {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: #131313;
    background-color: #fff;
}

#files {
    padding: 4px 20px 10px 20px;
    height: 130px;
    background-color: #fdfdfd;
    border-left: 1px solid #efefef;
    /* allows thumbnails to scroll instead of causing right panel to expand */
    min-width: 0;
    min-height: 0;
}

#files .files-new {
    margin-bottom: 5px;
    padding: 3px 15px;
    border-color: #b3b3b3;
    color: #545454;
}

#filesInput {
    display: none;
}

#files .thumbnails {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#files .file-source {
    display: flex;
    flex-direction: column;

}

#files .thumbnail {
    height: 85px;
    max-width: 100px;
    margin-right: 15px;
}

#files .thumbnail.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f0f0;
}

#files .thumbnail .icon {
    color: #dcdada;
}

#files .filename {
    color: #5f6067;
    font-size: 0.7em;
    background-color: transparent;
    border: none;
    width: auto;
    max-width: 100px;
}

#files .filename:focus {
    outline: none;
}

#widgetManager {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.widget {
    z-index: 10;
    position: absolute;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    min-width: 150px;
    box-shadow: 1px 1px 3px #dadada;
}

.widget.hidden {
    display: none;
}

.widget-header {
    padding: 3px 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.widget-title {
    color: #848080;
    font-size: 0.8em;
}

.widget-id {
    margin-left: 10px;
    font-size: 0.6em;
    font-style: italic;
    font-weight: normal;
    color: #afadad;
    
}

.widget-content {
    padding: 10px;
    background-color: #f9f9f9;
}

.widget .params-container {
    color: #6f6d6d;
    font-size: 0.6em;
}

.widget .param-control {
    margin-bottom: 3px;
}

.widget .param-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget .param-input-container input[type='range'],
.param-input-container select,
.param-input-container input[type='text'] {
   flex-grow: 1;
}

.widget .value-label {
    width: 20px;
    text-align: right;
}