body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

#appContainer {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #0B4E4D;
    padding-right: 20px;
    padding-left: 20px;
    color: #73B970;
}

#status {
    font-size: 0.8em;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#editorContainer {
    display: grid;
    grid-template-rows: auto 1fr;
}

#editorHeader {
    height: 50px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

#runButton {
    padding: 10px 15px;
    background-color: #00DFBC;
    border: none;
}

#runButton:hover {
    border: 2px solid #40956C;
}

#runButton:active {
    background-color: #40956C;
}

#ioContainer {
    display: grid;
    grid-template-rows: 1fr auto;
}

#imageViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    background-color: #fff;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#imageViewer .canvas {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: #131313;
    background-color: #fff;
}

#imageSource {
    padding: 20px;
    height: 120px;
    background-color: #fdfdfd;
    border-left: 1px solid #efefef;
}

#imageSource img {
    height: 100px;
}