body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

#appContainer {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    color: #3f8060;
    border-bottom: 1px solid #d6d6d6;
}

#logo {
    margin-right: 100px;
}

#header .header-main {
    flex-grow: 1;
}

#status {
    font-size: 0.8em;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#editorContainer {
    display: grid;
    grid-template-rows: 1fr;
}

#editorHeader {
    height: 50px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

#runButton {
    padding: 10px 15px;
    border: 1px solid #02ceae;
    font-family: inherit;
    color: #028c76;
}

#runButton:hover {
    border: 2px solid #02ceae;
}

#runButton:active {
    background-color: #02ceae;
}

#ioContainer {
    display: grid;
    grid-template-rows: 1fr auto;
}

#imageViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    background-color: #fff;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#imageViewer .canvas {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: #131313;
    background-color: #fff;
}

#imageSource {
    padding: 20px;
    height: 120px;
    background-color: #fdfdfd;
    border-left: 1px solid #efefef;
}

#imageSource img {
    height: 100px;
}

#imageSource img.empty {
    display: none;
}

#imageSource .image-input {
    cursor: pointer;
    color: #9a9ba2;
    font-size: 0.8em;
}

#imageSource input {
    display: none;
}

#widgetManager {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.widget {
    z-index: 10;
    position: absolute;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #dadada;
}

.widget-title {
    padding: 3px 10px;
    background-color: #f7f7f7;
    font-size: 0.8em;
    font-weight: bold;
    color: #848080;
    border-bottom: 1px solid #d8d8d8;
}

.widget-content {
    padding: 10px;
    background-color: #f9f9f9;
}

.widget .params-container {
    color: #6f6d6d;
    font-size: 0.6em;
}

.widget .param-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget .param-input-container input[type='range'] {
   flex-grow: 1;
}

.widget .value-label {
    width: 20px;
}